.Loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
}

.wrapper {
    position: relative;

    width: 200px;
    height: 60px;

    opacity: 0;
    transition: opacity 0.5s ease;
}

.wrapper-active {
    opacity: 1;
}

.circle {
    position: absolute;
    left: 15%;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: #fff;

    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    position: absolute;
    top: 62px;
    left: 15%;
    z-index: -1;

    width: 20px;
    height: 4px;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);

    transform-origin: 50%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.wrapper span {
    position: absolute;
    top: 75px;
    left: 50%;

    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: center;

    color: #fff;

    transform: translateX(-50%);
}