.alternating-union {
    margin: 2rem auto 0;
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#alternating-union-canvas {
    background-color: #fff;
    border: 2px solid black;
}