.NumberSequence_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.NumberSequence_input {
    width: 100%;
    max-width: 500px;
    padding: 2rem 3rem;

    font-size: 1.8rem;

    background-color: var(--bg-color);
    color: inherit;
    border: 2px solid var(--main-color);
    border-radius: 3rem/50%;
}